<!--<script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>-->

  
    
  
<table class="tg">
<%= form_for(@supaagent) do |f| %>
  <% if @supaagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supaagent.errors.count, "error") %> prohibited this supaagent from being saved:</h2>

      <ul>
      <% @supaagent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<table class="editview">
      <h2>Applicants Details</h2>
  <tr><td>

    <table>
      <tr><td><b>App ID: </b></td><td><b><%= @supaagent.applicationid %></b></td></tr>
      <tr><td><b>ID No: </b></td><td><b><%= @supaagent.idnumber %></b></td></tr>
      <tr><td><b>Name:</b> </td><td><b><%= @supaagent.name %></b></td></tr>
      <tr><td><b>B.Name:</b> </td><td><b><%= @supaagent.bankname %></b></td></tr>
      <tr><td><b>Email:</b> </td><td><b><%= @supaagent.email %></b></td></tr>
      <tr><td><b>B.Branch: </b></td><td><b><%= @supaagent.bankbranch %></b></td></tr>
      <tr><td><b>B.Address: </b></td><td><b><%= @supaagent.bankaddress %></b></td></tr>
      <tr><td><b>B.Account: </b></td><td><b><%= @supaagent.bankaccount %></b></td></tr>
      <tr><td><b>B.swift:</b> </td><td><b><%= @supaagent.bankswift %></b></td></tr>
      

  </td></tr>
    </table>
   
 
    </table>
     <div class= "validation">
    <b>  <%= f.label :"Validation" unless @supaagent.new_record?%></b>
      <%= f.check_box :validation unless @supaagent.new_record?%>
      
    </div>
     <div class="actions">
      <%= f.submit 'Confirm', :class => 'btn-primary', :confirm => 'Your confirm message'%>
    </div>

  
    </div>
      
      <div class="indexbox2">
        <body>
          <img src="<%= @supaagent.idimage.url %>" id="img"/>
         </body>
      </div>
      
                <% end %>

<script type="text/javascript">
console.log("hi there");
  var value = 0;
  // $("#img").click(function(){
  //   console.log("clicked in the rotation");
  //   value +=90;
  //   $(this).rotate({ animateTo: value});
  // });
  
  $("#img").rotate({ 
      bind: 
        { 
            click: function(){
                console.log("clicked in the rotation");
                value +=90;
                $(this).rotate({ animateTo: value});
            }
        } 
       
    });
// $(document).ready(function() {
   

  
// });
  </script>