
<!--<div class="formbox">-->
<!--<%= form_for(@supaagent) do |f| %>-->
<!--  <% if @supaagent.errors.any? %>-->
<!--    <div id="error_explanation">-->
<!--      <h2><%= pluralize(@supaagent.errors.count, "error") %> prohibited this supaagent from being saved:</h2>-->

<!--      <ul>-->
<!--      <% @supaagent.errors.full_messages.each do |message| %>-->
<!--        <li><%= message %></li>-->
<!--      <% end %>-->
<!--      </ul>-->
<!--    </div>-->
<!--  <% end %>-->
  
    
    
    <!--IMAGE-->


<!--<table class="tg">-->
<!--  <tr>-->
<!--    <th class="sa-details">-->
<!--      <div class="output">-->
<!--      <label for="Applicationid">Application ID<br></label>-->
<!--      <%= f.text_field :applicationid, placeholder: "Application ID", class: "form-output", :disabled=>true%>-->
    
<!--    <div class="output">-->
<!--      <%= f.text_field :idnumber, placeholder: "ID Number", class: "form-output", :disabled=>true%>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--      <%= f.text_field :name, placeholder: "Name as per ID", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--      <%= f.text_field :bankname, placeholder: "Bank Name", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--    <%= f.text_field :email, placeholder: "Email", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--    <%= f.text_field :bankname, placeholder: "Email", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--    <%= f.text_field :bankbranch, placeholder: "Email", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--    <%= f.text_field :bankaddress, placeholder: "Email", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--    <%= f.text_field :bankaccount, placeholder: "Email", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
<!--    <div class="output">-->
<!--    <%= f.text_field :bankswift, placeholder: "Email", class: "form-output", :disabled=>true %>-->
<!--    </div>-->
    
  
<!--    <div class="field">-->
<!--      <%= f.label :"Validation" unless @supaagent.new_record?%>-->
<!--      <%= f.check_box :validation unless @supaagent.new_record? %>-->
<!--    </div>-->
<!--         <div class="actions">-->
<!--      <%= f.submit 'validated', :class => 'btn-primary', :confirm => 'Your confirm message'%>-->
<!--    </div>-->
<!--    </th>-->
    
<!--    <th class="id-img">-->
<!--      <div class="output">-->
<!--        <%= image_tag @supaagent.idimage.url, class: "imageoutput" %>-->
<!--      </div>-->
<!--    </th>-->
    
<!--  </tr>-->
<!--</table>-->
    
<!--    </div>-->
<!--  </div>-->
<!--  </div class="formbox">-->
<!--  </div>-->
  
<!--<% end %>-->


<table>
  <tr><td>
    <table>
      <tr><td>Dealer Name: </td><td><b><%= @supaagent.bankaccount %></b></td></tr>
  </td></tr>
  
    <% end %>
  </td></tr>
</table>
