<p id="notice"><%= notice %></p>

<h1>Listing Supaagents</h1>

<table>
  <thead>
    <tr>
      <th>Applicationid</th>
      <th>Name</th>
      <th>Email</th>
      <th>Idimage</th>
      <th>Validation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supaagents.each do |supaagent| %>
      <tr>
        <td><%= supaagent.applicationid %></td>
        <td><%= supaagent.name %></td>
        <td><%= supaagent.email %></td>
        <td><%= supaagent.idimage %></td>
        <td><%= supaagent.validation %></td>
        <td><%= link_to 'Show', supaagent %></td>
        <td><%= link_to 'Edit', edit_supaagent_path(supaagent) %></td>
        <td><%= link_to 'Destroy', supaagent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supaagent', new_supaagent_path %>
